
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  @apply bg-gray-100;
}

.container {
  @apply w-full md:w-10/12 lg:w-8/12 xl:w-6/12 md:mx-auto
}

.input-wrapper {
  @apply bg-gray-200 px-3 py-2 rounded overflow-hidden;
}

.input-wrapper input {
  @apply bg-gray-200 max-w-full w-full;
}
