
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  user-select: none;
  -webkit-user-select: none;
}

body {
  @apply bg-gray-100;
}

.container {
  @apply w-full md:w-10/12 lg:w-8/12 xl:w-6/12 md:mx-auto
}

.input-field {
  @apply mb-8;
}

.input-wrapper {
  @apply bg-gray-200 rounded overflow-hidden;
}

.input-wrapper input, .input-wrapper textarea {
  @apply bg-gray-200 w-full px-6 py-3;
}

.btn-submit , .btn-reset {
  @apply w-full px-4 py-2 rounded-lg active:scale-95 duration-300;
}

.btn-submit {
  @apply bg-indigo-600 text-gray-100;
}

.btn-reset {
  @apply ring-2 ring-red-600 text-red-600;
}
